{% extends "masterPage.html" %}

{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="steps steps--primary">
            <div class="step visited">
                <div class="step__icon"><span class="icon-check"></span></div>
                <div class="step__label">Select Device</div>
            </div>
            <div class="step active">
                <div class="step__icon">2</div>
                <div class="step__label">Create VLAN(s)</div>
            </div>
            <div class="step">
                <div class="step__icon"
                    style="border: var(--cui-step-line-thickness-inactive) solid var(--cui-color-gray-400);">3</div>
                <div class="step__label">Deploy Config</div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>

<div class="row">
    <div class="col-xl-1 col-md-1">
    </div>
    <div class="col-xl-8 col-md-8">
        <div class="section">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">Step 3: Create VLAN(s)</h2>
                <p>Create VLAN(s) below. Drag available interfaces to assign to each VLAN.</p>
                <div class="section">

                    <form action="/vlan-provision" method="POST" id="vlan-form">
                        <div class="responsive-table">
                            <table class="table table--lined table--selectable table">
                                <thead>
                                    <tr>
                                        <th class="text-center">VLAN ID</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Assigned Ports</th>
                                        <th>
                                            <button class="btn btn--circle btn--small" onclick="add_vlan()"
                                                type="button">
                                                <span class="icon-add"></span>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    <tr id="1">
                                        <td style="text-align: center;">
                                            <div class="form-group form-group--inline">
                                                <div class="form-group__text">
                                                    <input style="min-width: 100px" id="vlan-id" name="vlan-id"
                                                        type="number" min="1" max="4096" value="" required="">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="form-group form-group--inline">
                                                <div class="form-group__text">
                                                    <input style="min-width: 200px" id="vlan-name" name="vlan-name"
                                                        type="text" value="" required="">
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">
                                            <div name="tagged-ports" class="dropzone" id="tagged-ports"
                                                ondragover="onDragOver(event);" ondrop="onDrop(event, this);"></div>
                                        </td>
                                        <td>
                                            <button class="btn btn--circle btn--small" type="other"
                                                onclick="remove_vlan(1)">
                                                <span class="icon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="section">
                                <h3 class="subtitle">Available Interfaces:</h3>
                                <div class="container dropzone" ondragover="onDragOver(event);"
                                    ondrop="onDrop(event, this);">
                                    {% for interface in device["interfaces"] %}
                                    <div draggable="true" class="box text-small" ondragstart="onDragStart(event);"
                                        id="{{ interface }}">{{ interface }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-xl-2 col-md-2">
        <div class="section">
            <div class="panel panel--loose panel--raised base-margin-bottom">
                <h2 class="subtitle">Step 4: Deploy Config</h2>
                <div class="section">
                    <p>Once all VLAN(s) have been created & interfaces assigned, click below to provision the device.
                    </p>

                    <div id="submit-section" class="section">

                        <div class="section">
                            <input id="submit" class="btn btn-center btn-primary" type="submit" value="Deploy Config">
                        </div>
                    </div>
                    </form>
                </div>
                <hr>
                <div class="alert alert--light" role="alert">
                    <div class="alert__message">
                        <h3 class="subtitle">Target Device</h2>
                            <b>Name:</b> {{ device["name"] }}<br>
                            <b>Model:</b> {{ device["platform"] }}<br>
                            <b>Management IP:</b> {{ device_ip }}<br>
                            <b>Location:</b> {{ device["location"] }}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<script src="{{ url_for('static', filename='js/vlan-form.js') }}"></script>

{% endblock %}